.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  font-family: 'TitilliumWeb';
  background: black url(./view/assets/images/stars.png) repeat top center;

  input,
  button,
  select,
  textarea,
  optgroup,
  option {
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

.starfleet {
  font-family: 'Starfleet';
}

.klingon {
  font-family: 'Klingon';
}

.borg {
  font-size: 30px;
  font-family: 'Borg';
}

.vulcan {
  font-family: 'Vulcan';
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.backgroundEffect {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: transparent url(./view/assets/images/effect.png) repeat top center;
  z-index: 1;

  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.main {
  z-index: 2;
}
