.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid grey;
}

span {
  background: lightgrey;
  padding: 4px;
}
