.app {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  font-family: 'TitilliumWeb';
  background: black
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;

  input,
  button,
  select,
  textarea,
  optgroup,
  option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

.starfleet {
  font-family: 'Starfleet';
}

.klingon {
  font-family: 'Klingon';
}

.borg {
  font-size: 30px;
  font-family: 'Borg';
}

.vulcan {
  font-family: 'Vulcan';
}

.dingbat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  padding: 0 18px;
  font-family: 'Trekbats';
  font-size: 28px;

  button {
    padding: 5px;
    height: 50px;
    width: 50px;
    background: black;
    border: 1px solid grey;
    margin: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background: #242424;

    &:hover {
      background: #474747;
    }
  }

  .klingonButton {
    padding-left: 8px;
  }

  .active {
    background: white;
    color: black;

    &:hover {
      background: white;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 1px solid grey;
}

span {
  background: #e6e6e6;
  color: black;
  padding: 2px 8px;
  border-radius: 5px;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid grey;
  background: black;
  overflow: scroll;

  > li {
    border-top: 1px solid grey;

    &:first-child {
      border-top: none;
    }
  }
}

.content {
  overflow: scroll;
  height: calc(100vh - 73px);
}

.placeholder {
  display: flex;
  justify-content: center;
  height: calc(100vh - 73px);
  font-size: 150px;
  color: grey;
}
