.container {
  overflow: scroll;
  height: calc(100vh - 73px);

  span {
    display: inline-block;
    height: 12px;
    font-size: 16px;
    line-height: 13px;
    background: #e6e6e6;
    color: black;
    padding: 6px 19px;
    border-radius: 18px;
  }
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 73px);
  font-family: 'Trekbats';
  font-size: 150px;
  color: grey;
}
