.container {
  padding: 20px;
  border-bottom: 1px solid grey;
}

.input {
  box-sizing: border-box;
  height: 35px;
  width: 100%;
  padding: 5px 20px;
  border: 1px solid grey;
  border-radius: 18px;
  outline: none;
  font-size: 16px !important;
}
