.li {
  text-align: left;
}

.ul {
  list-style-type: none;
  padding-left: 20px;
}

.card {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: inherit;
  background: none;
  text-align: left;
  font-size: initial;
}
